@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #fff8f0; 
  --foreground: #171717;
  --primary: #800020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #12130f; 
    --foreground: #ededed;
    --primary: #800020;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
